.appWrapper {
    display: block;
    max-width: 800px;
    border: 1px solid red;
    margin: 0 auto;
    font-size: 14px;
}
@media (max-width: 800px) {
	.appWrapper {
		overflow: scroll;
	}
}
@media (max-width: 800px) and (min-aspect-ratio: 128/128) {
	.appWrapper {
		overflow: scroll;
	}
}
* {
    padding: 0;
    margin: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

:root {
	--index: calc(1vw + 1vh);
}