@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300;400;500&display=swap');

* {
    font-family: 'Commissioner', sans-serif;
    /* font-size: 18px; */
    padding: 0;
    margin: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* overflow: hidden;  */
	font-family: 'Concert One', cursive;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
	--index: calc(1vw + 1vh);
}

.fadeOut {
    -webkit-opacity: 0;
    opacity: 0;
    -webkit-transition: -webkit-opacity .75s ease-out;
    will-change: -webkit-opacity;
    transition: opacity .75s ease-out;
    will-change: opacity;
}

.fadeIn {
    -webkit-opacity: 1;
    opacity: 1;
    -webkit-transition: -webkit-opacity .75s ease-out;
    will-change: -webkit-opacity;
    transition: opacity .75s ease-out;
    will-change: opacity;
}
