.text-center {
    text-align: center;
}

.indent40 {
    text-indent: 40px;
}

.block-center {
    margin: 0 auto;
}

.pWidth {
    text-align: justify;
}

.pRight {
    text-align: right;
}

.pLeft {
    text-align: left;
}

.pTop {
    vertical-align: top;
}