.m5 {
    margin: 5px;
}

.m10 {
    margin: 10px;
}

.m20 {
    margin: 20px;
}

.m30 {
    margin: 30px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-3per {
    margin-top: 3%;
}

.mr-10 {
    margin-right: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mr-20 {
    margin-right: 20px;
}

.mb-0 {
    margin-bottom: 0px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.ml-20 {
    margin-left: 20px;
}

.mn-3per {
    margin: 3%;
}

.mn-4per {
    margin: 4%;
}
.mn-5per {
    margin: 5%;
}

.mt-5per {
    margin-top: 5%;
}

.mb-5per {
    margin-bottom: 5%;
}