/* внешние границы таблицы серого цвета толщиной 1px */
table {
    border: 1px solid grey;
 }
 /* границы ячеек первого ряда таблицы */
 th {
    border: 1px solid grey;
    width: 33%;
 }
 /* границы ячеек тела таблицы */
 td {
    border: 1px solid grey;
 }

 /* сделает ширину таблицы равной ширине блока контейнера, в котором она находится */
table {
    width: 100%;
    font-size: 15px;
 }
 /* задаст фиксированную ширину для таблицы */
